<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:57:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTests.VerifyPageCreation(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testSuite.ExecuteTests@11c2812]">VerifyPageCreation</td> 
  <td>main@14143330</td>   <td></td> </tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:59:43</td>   <td>135113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExecuteTests.Logout()[pri:0, instance:testSuite.ExecuteTests@11c2812]">&lt;&lt;Logout</td> 
<td>&nbsp;</td>  <td>main@14143330</td>   <td></td> </tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:59:49</td>   <td>140532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTests.VerifyPageCreation(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testSuite.ExecuteTests@11c2812]">VerifyPageCreation</td> 
  <td>main@14143330</td>   <td></td> </tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:59:49</td>   <td>140535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTests.VerifyPageCreation(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testSuite.ExecuteTests@11c2812]">VerifyPageCreation</td> 
  <td>main@14143330</td>   <td></td> </tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:59:49</td>   <td>140841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTests.VerifySetRestrictions(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testSuite.ExecuteTests@11c2812]">VerifySetRestrictions</td> 
  <td>main@14143330</td>   <td></td> </tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:59:49</td>   <td>140843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTests.VerifySetRestrictions(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testSuite.ExecuteTests@11c2812]">VerifySetRestrictions</td> 
  <td>main@14143330</td>   <td></td> </tr>
<tr bgcolor="99f9b3">  <td>15/09/04 17:59:49</td>   <td>140845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTests.VerifySetRestrictions(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testSuite.ExecuteTests@11c2812]">VerifySetRestrictions</td> 
  <td>main@14143330</td>   <td></td> </tr>
</table>
